* {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
  }

  html,
  body,
  section,
  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;
    background: #374046;
    overflow: hidden;
  }

  section {
    width: 400%;
  }

  .page {
    position: absolute;
  }

  #p1 {
    left: 15%;
  }

  #p2 {
    left: 105%;
  }

  #p3 {
    left: 205%;
  }

  #p4 {
    left: 305%;
  }

  #t1:target .page#p1 {
    transform: translateX(0);
  }

  #t2:target .page#p2 {
    transform: translateX(-90%);
  }

  #t3:target .page#p3 {
    transform: translateX(-190%);
  }

  #t4:target .page#p4 {
    transform: translateX(-290%);
  }

  #t2:target .page#p1,
  #t3:target .page#p1,
  #t4:target .page#p1 {
    background: black;
  }

  #p1 .icon .title {
    margin-bottom: 20px;
  }

  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon {
    transform: scale(.6);
    transition-delay: .25s;
  }

  #t2:target #dos {
    transform: scale(1.2) !important;
  }

  #t3:target #tres {
    transform: scale(1.2) !important;
  }

  #t4:target #cuatro {
    transform: scale(1.2) !important;
  }

  ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    /* margin: auto; */
    height: 280px;
    width: 10%;
    padding: 0 0 0 15px;
    z-index: 1;
    list-style: none;
    text-align: left;
  }

  ul li {
    margin: 15px 0;
  }

  a {
    text-decoration: none;
    font-family: open sans, sans-serif;
  }

  .credit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
  }

  .credit a {
    color: #fff
  }

  /* dropdown */
  .dropdown {
    position: relative;
    width: 150px;
    padding: 5px 0;
    filter: url(#goo);
  }

  .dropdown__face,
  .dropdown__items {
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
  }

  .dropdown__face {
    display: block;
    position: relative;
  }

  .dropdown__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: min-content;
    list-style: none;
    list-style-type: none;
    /* display: flex;
    justify-content:space-evenly;   */
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  }

  .dropdown__items::before {
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 30%;
    height: 40px;
    width: 20px;
  }

  .dropdown__arrow {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  .dropdown input {
    display: none;
  }

  .dropdown input:checked~.dropdown__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
    height: min-content;
    width: fit-content
  }

  svg {
    display: none;
  }

  .page img {
    background-repeat: no-repeat;
    background-size: cover
  }

  .img-ul {
    list-style: none
  }

  .main-dropdown {
    width: 15%
  }
  .dropdown__text{
      color: sienna
  }